{
  "log": {
    "_recordingName": "github-close-issue",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a4c876e9952ee6b66826de5dbeaf7d1c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"state\":\"closed\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3531,
            "text": "{\"url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/1\",\"repository_url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka\",\"labels_url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/1/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/1/comments\",\"events_url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/1/events\",\"html_url\":\"https://github.com/TanakaNatsumi625/JavaScript-Ntanaka/issues/1\",\"id\":4011820880,\"node_id\":\"I_kwDOOcHxN87vH4dQ\",\"number\":1,\"title\":\"Test issue\",\"user\":{\"login\":\"TanakaNatsumi625\",\"id\":178760145,\"node_id\":\"U_kgDOCqep0Q\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/178760145?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/TanakaNatsumi625\",\"html_url\":\"https://github.com/TanakaNatsumi625\",\"followers_url\":\"https://api.github.com/users/TanakaNatsumi625/followers\",\"following_url\":\"https://api.github.com/users/TanakaNatsumi625/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/TanakaNatsumi625/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/TanakaNatsumi625/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/TanakaNatsumi625/subscriptions\",\"organizations_url\":\"https://api.github.com/users/TanakaNatsumi625/orgs\",\"repos_url\":\"https://api.github.com/users/TanakaNatsumi625/repos\",\"events_url\":\"https://api.github.com/users/TanakaNatsumi625/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/TanakaNatsumi625/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"closed\",\"locked\":false,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2026-03-02T15:20:31Z\",\"updated_at\":\"2026-03-02T15:27:47Z\",\"closed_at\":\"2026-03-02T15:27:47Z\",\"assignee\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":\"Created from CLI\",\"closed_by\":{\"login\":\"TanakaNatsumi625\",\"id\":178760145,\"node_id\":\"U_kgDOCqep0Q\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/178760145?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/TanakaNatsumi625\",\"html_url\":\"https://github.com/TanakaNatsumi625\",\"followers_url\":\"https://api.github.com/users/TanakaNatsumi625/followers\",\"following_url\":\"https://api.github.com/users/TanakaNatsumi625/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/TanakaNatsumi625/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/TanakaNatsumi625/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/TanakaNatsumi625/subscriptions\",\"organizations_url\":\"https://api.github.com/users/TanakaNatsumi625/orgs\",\"repos_url\":\"https://api.github.com/users/TanakaNatsumi625/repos\",\"events_url\":\"https://api.github.com/users/TanakaNatsumi625/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/TanakaNatsumi625/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"reactions\":{\"url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/1/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/1/timeline\",\"performed_via_github_app\":null,\"state_reason\":\"completed\",\"pinned_comment\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"150a3083ddbff780132c602ffa68a857e8e69d8bb66d83bcd2560795e2108fed\""
            },
            {
              "name": "github-authentication-token-expiration",
              "value": "2026-04-16 22:13:27 +0900"
            },
            {
              "name": "x-accepted-github-permissions",
              "value": "issues=write; pull_requests=write"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4990"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1774881433"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            },
            {
              "name": "x-ratelimit-used",
              "value": "10"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 883,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
