{
  "log": {
    "_recordingName": "github-issues",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "670b8fb656197a7f1440e0511baecd23",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2,
            "text": "[]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"bc29c4e57ea9cb4f281b3ee8be55f40d387b737840ccd43d639f5d888e132575\""
            },
            {
              "name": "github-authentication-token-expiration",
              "value": "2026-04-16 22:13:27 +0900"
            },
            {
              "name": "x-accepted-github-permissions",
              "value": "issues=read"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4994"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1774881619"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            },
            {
              "name": "x-ratelimit-used",
              "value": "6"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 521,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
