{
  "log": {
    "_recordingName": "github-create-issue",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f3f09543f7e4857bf26de209726c3b4f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"Test Issue\",\"body\":\"テスト用のIssue\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2489,
            "text": "{\"url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/2\",\"repository_url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka\",\"labels_url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/2/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/2/comments\",\"events_url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/2/events\",\"html_url\":\"https://github.com/TanakaNatsumi625/JavaScript-Ntanaka/issues/2\",\"id\":4171027039,\"node_id\":\"I_kwDOOcHxN874nNJf\",\"number\":2,\"title\":\"Test Issue\",\"user\":{\"login\":\"TanakaNatsumi625\",\"id\":178760145,\"node_id\":\"U_kgDOCqep0Q\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/178760145?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/TanakaNatsumi625\",\"html_url\":\"https://github.com/TanakaNatsumi625\",\"followers_url\":\"https://api.github.com/users/TanakaNatsumi625/followers\",\"following_url\":\"https://api.github.com/users/TanakaNatsumi625/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/TanakaNatsumi625/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/TanakaNatsumi625/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/TanakaNatsumi625/subscriptions\",\"organizations_url\":\"https://api.github.com/users/TanakaNatsumi625/orgs\",\"repos_url\":\"https://api.github.com/users/TanakaNatsumi625/repos\",\"events_url\":\"https://api.github.com/users/TanakaNatsumi625/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/TanakaNatsumi625/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2026-03-30T14:05:20Z\",\"updated_at\":\"2026-03-30T14:05:20Z\",\"closed_at\":null,\"assignee\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":\"テスト用のIssue\",\"closed_by\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/2/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/TanakaNatsumi625/JavaScript-Ntanaka/issues/2/timeline\",\"performed_via_github_app\":null,\"state_reason\":null,\"pinned_comment\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"a4d1be085f4b1195ccf775df465869b5fbcdc76124a07d4324c095adcb0e6567\""
            },
            {
              "name": "github-authentication-token-expiration",
              "value": "2026-04-16 22:13:27 +0900"
            },
            {
              "name": [...]
